<div class="container mt-5 text-center">
	<h1>Calendar</h1>
	<%= month_calendar(events: @consultations) do |date, consultations| %>
		<%= date.day%>
	<% consultations.each do |consultation|%>
	<div class="card-header">
		<div class="card-title">
			<%= link_to consultation.title, consultation%>
		</div>
	</div>
	<!-- <div class="card-body"> -->
		<!-- <div class="card-text"> -->
			<!-- <%= consultation.description%> -->
		<!-- </div> -->
	<!-- </div> -->
	<%end%>
	<%end%>
</div>